@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700);
/* 
html, body {
	height: 100%;
	overflow: auto;
	background: #F7F7F7; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

a {
    display: block;
    width: 100px;
    background-color: #dddddd;
}

.header{
	height: 8%;
	width: 100%;
	top: 0;
	position: fixed;
	background: #0095b6;
}

.footer{
	height: 5%;
	width: 100%;
	bottom: 0;
	position: fixed;
	background: #0095b6;
}

.mainBody{
	position: absolute;
	top: 8%;
	bottom: 5%;
	width: 100%;
}

#chartDisplay {
	height: 100%;
	width:69.9%;
	float:left;
	background-color:green;
	background: url(textured_paper.jpeg) repeat;	
}

#chartControls{
	height: 100%;
	background-color: white;
	float:left;
	width:30%;
	overflow: auto;
}

#selectChart{
	width:100%;
	height:20%;
	top:0;
}
*/
#chartHandler{
	/* bottom:0; */
}

#PieChart{
	width:100%;
	height:70%;
	display:none;
}

#BarChart2D{
	width:100%;
	height:70%;
	display:none;
}

#BarChart3D{
	width:100%;
	height:70%;
	display:none;
}

#SplineChart{
	width:100%;
	height:70%;
	display:none;
}

#SplineAreaChart{
	width:100%;
	height:70%;
	display:none;
}

#StackedBarChart{
	width:100%;
	height:70%;
	display:none;
}

#ScatterChart{
	width:100%;
	height:70%;
	display:none;
}

#BubbleChart{
	width:100%;
	height:70%;
	display:none;
}

#HeatMapChart{
	width:100%;
	height:70%;
	display:none;
}

/* .ol-attribution {
max-width: calc(100% - 3em);
}
.ol-control button, .ol-attribution, .ol-scale-line-inner {
font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
}
#tags {
display: none;
}

body, h1, h2, h3, h4, p, li, td, th {
font-family: Quattrocento Sans;
}
.navbar-inverse .navbar-inner {
background: #0095b6;
}
.navbar-inverse .brand {
color: white;
} */